<mat-card>
  <mat-card-title>Add a location</mat-card-title>
  <form [formGroup]="form" (ngSubmit)="submitLocation()">
    <mat-form-field appearance="fill">
      <mat-label>Enter ZIP code</mat-label>
      <input matInput formControlName="zipCode" placeholder="ZIP code" />
    </mat-form-field>
    <app-autocomplete
      formControlName="countryCode"
      label="Country *"
      valueKey="code"
      [items]="countries"
    ></app-autocomplete>

    <app-working-button [state$]="addingState$">
      <ng-template initButton>
        <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">
          <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
          Add location
        </button>
      </ng-template>
      <ng-template processingButton>
        <button [disabled]="true" mat-raised-button color="primary">Adding...</button>
      </ng-template>
      <ng-template doneButton>
        <button mat-raised-button color="success">
          <mat-icon aria-hidden="false" aria-label="Example home icon">check</mat-icon>
          Done
        </button>
      </ng-template>
    </app-working-button>
  </form>
</mat-card>
