<mat-card *ngIf="weather">
  <mat-card-title>{{ weather.name }}</mat-card-title>

  <mat-card-content>
    <strong>Current conditions: </strong>
    <app-weather-condition [weather]="weather.weather"></app-weather-condition>

    <br />
    <strong>Temperature:</strong> {{ weather.main.temp }} °C<br />
    <ng-container *ngIf="weather.main.temp_max !== undefined">
      <strong>Max today:</strong> {{ weather.main.temp_max }} °C
    </ng-container>
    <ng-container *ngIf="weather.main.temp_min !== undefined">
      - <strong>Min today:</strong> {{ weather.main.temp_min }} °C
    </ng-container>
  </mat-card-content>

  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/forecast', zipCode]">Forecast</a>
    <button mat-raised-button color="warn" (click)="remove.emit()">Remove</button>
  </mat-card-actions>
</mat-card>
